html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(185, 185, 185);
}
html::-webkit-scrollbar-thumb {
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(68, 68, 68, 0.553);
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:active {
  background-color: rgba(68, 68, 68, 0.553);
  border-radius: 5px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Jockey One", sans-serif;
  font-family: "Kanit", sans-serif;
  margin: 0;
}

section {
  max-width: 100vw;
  height: 100%;
}

a {
  outline: none;
  text-decoration: none;
}
a:visited {
  color: none;
}

.button__general {
  background-color: #fff;
  border: 1px solid #ffbb0d;
  padding: 8px;
  position: relative;
  transition: 0.5s;
  font-size: 17px;
  font-weight: 300;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
}
.button__general:hover {
  background-color: #ffbb0d;
}
.button__general:focus {
  background-color: #ffbb0d;
}
.button__general:hover p {
  color: #fff;
}
.button__general:focus p {
  color: #fff;
}
.button__general:hover svg {
  opacity: 1;
}
.button__general:focus svg {
  opacity: 1;
}
.button__general p {
  position: absolute;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #ffbb0d;
}
.button__general svg {
  position: absolute;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  width: 20px;
  height: 20px;
  fill: #fff;
}

.min--button {
  margin-top: 1em;
  transition: all 300ms linear;
  background-color: #fff;
  opacity: 90%;
}
.min--button:hover {
  background-color: #ffbb0d;
  color: #ffffff;
  opacity: 100%;
}

.pretitle {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #000000;
  font-weight: 600;
  padding-left: 1vw;
  padding-top: 40px;
  margin-bottom: 5px;
}
.pretitle::before {
  content: "";
  background-color: #000000;
  margin-right: 10px;
  width: 50px;
  height: 3px;
}

.title {
  font-size: 1.5em;
  color: #000000;
  font-weight: 600;
  margin: 0;
  padding-left: 1vw;
}

label {
  margin-top: 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 300;
  font-size: 1.2em;
}
label svg {
  position: absolute;
  width: 1em;
  height: 20px;
  margin: 0;
  padding: 0;
  bottom: 0.1em;
  opacity: 70%;
}

input {
  outline: none;
  border: none;
  border-bottom: 2px solid #ffbb0d;
  font-size: 20px;
  font-weight: 300;
  min-width: 100%;
  padding-left: 25px;
  margin: 0;
}
input::-ms-clear {
  opacity: 0;
}
input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.542);
}
input::placeholder {
  color: rgba(0, 0, 0, 0.542);
}

textarea {
  outline: none;
  border: none;
  background-color: rgba(62, 62, 62, 0.01);
  border-bottom: 2px solid #ffbb0d;
  font-size: 20px;
  font-weight: 200;
  font-style: italic;
  min-width: 100%;
  margin: 0;
  resize: none;
}
textarea::-moz-placeholder {
  color: rgba(0, 0, 0, 0.542);
  font-weight: 300;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.542);
  font-weight: 300;
}
textarea::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(255, 225, 0, 0.403);
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgb(255, 208, 0);
  border-radius: 5px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 208, 0, 0.582);
  opacity: 60%;
}
textarea::-webkit-scrollbar-thumb:active {
  background-color: rgba(255, 208, 0, 0.582);
  opacity: 60%;
}

form {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  max-width: 100vw;
}

.logo__set {
  display: flex;
  justify-content: space-around;
  opacity: 100%;
  transition: opacity 100ms linear;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .logo__set {
    order: 2;
  }
}

.logo__icon {
  fill: #ffbb0d;
  width: 4em;
  height: 4em;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 0.1rem;
  overflow: hidden;
}

.menu__button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}

#menu-toggle {
  display: none;
}

.menu__button,
.menu__button::before,
.menu__button::after {
  display: block;
  background-color: #000000;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin: 0;
}

.menu__button::before {
  content: "";
  margin-top: -8px;
}

.menu__button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu__button-container .menu__button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu__button-container .menu__button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu__button-container .menu__button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 767px) {
  .menu__button-container {
    display: flex;
    order: 3;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 45px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
.nav__item {
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  padding: 0;
  border-bottom: 2px #000000 transparent;
  color: #fff;
}
@media screen and (min-width: 767px) {
  .nav__item {
    color: #000000;
  }
}
.nav__item:hover {
  border-bottom: 2px #000000 solid;
}
.nav__item:focus {
  border-bottom: 2px #000000 solid;
}
.nav__item:hover {
  opacity: 70%;
}
.nav__item:focus {
  opacity: 70%;
}
.nav__item:active {
  opacity: 70%;
}

.contact-block {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .contact-block a {
    display: none;
  }
}

.contact-block__facebook {
  display: block;
  fill: black;
  width: 20px;
  height: 20px;
}
.contact-block__facebook:hover {
  fill: rgba(5, 12, 213, 0.8);
}
.contact-block__facebook:focus {
  fill: rgba(5, 12, 213, 0.8);
}

.contact-block__instagram {
  display: block;
  fill: black;
  width: 20px;
  height: 20px;
}
.contact-block__instagram:hover {
  fill: rgba(169, 51, 1, 0.8);
}
.contact-block__instagram:focus {
  fill: rgba(169, 51, 1, 0.8);
}

.contact-block__youtube {
  display: block;
  fill: black;
  width: 25px;
  height: 20px;
  padding: 0px;
  margin: 0px;
}
.contact-block__youtube:hover {
  fill: rgba(255, 0, 0, 0.8);
}
.contact-block__youtube:focus {
  fill: rgba(255, 0, 0, 0.8);
}

.button--header {
  width: 7em;
  height: 1.9em;
}
@media screen and (max-width: 767px) {
  .button--header {
    display: none;
  }
}
.button--header:hover p {
  left: 0.6em;
}
.button--header:focus p {
  left: 0.6em;
}
.button--header:hover svg {
  right: 0.3em;
}
.button--header:focus svg {
  right: 0.1em;
}
.button--header p {
  top: 0.3em;
  left: 1.2em;
}
.button--header svg {
  top: 0.4em;
  right: 0.5em;
}

.button--header__mobile {
  width: 2.8em;
  height: 2em;
  background-color: transparent;
  border: none;
  position: relative;
}
.button--header__mobile svg {
  display: block;
  fill: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 767px) {
  .button--header__mobile {
    display: none;
  }
}
.button--header__mobile:active {
  fill: #ffbb0d;
  transform: scale(110%);
}

.slideshow__container {
  max-width: 100%;
  height: -moz-max-content;
  height: max-content;
  position: relative;
  margin: auto;
  z-index: -1;
}

.number-text {
  color: #000000;
  font-size: 2em;
  margin-top: 1em;
  position: relative;
  bottom: 0;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 1em 0.1em;
  background-color: rgba(255, 179, 0, 0.4901960784);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #ffbb0d;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.nasze-menu {
  display: flex;
  position: sticky;
  z-index: 1;
  top: 0;
  background-image: url(../img/naszemenu.jpg);
  background-size: cover;
  padding: 20px;
  font-size: 48px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: -10px;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 8px 5px -5px #000000;
  width: 100%;
}

.product-card__block {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: white;
  height: -moz-max-content;
  height: max-content;
  margin: 1em;
  padding: 0;
}

.hover-area {
  height: -moz-max-content;
  height: max-content;
  width: 0.29em;
  flex-basis: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .hover-area {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .hover-area {
    flex-basis: 25%;
  }
}

.hover-area:hover .product-card__image {
  transform: scale(110%);
}
.hover-area:hover .product-card__price {
  transform: translateY(0%);
  background-color: rgba(255, 255, 255, 0.4705882353);
}
.hover-area:hover .product-card__name {
  background-color: #ffb300;
  border-top: 1px solid #ffb300;
}

.product-card {
  position: relative;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card__image {
  margin: 0px;
  width: 100%;
  height: 100%;
  transform: scale(102%);
  transition: transform 900ms linear;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-card__price {
  position: absolute;
  background-color: #fff;
  font-size: 40px;
  color: #000000;
  font-weight: 300;
  margin: 0px;
  bottom: 0;
  width: 100%;
  text-align: center;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.product-card__name {
  background-color: #fff;
  border: 1px solid transparent;
  font-size: 30px;
  color: #000000;
  font-weight: 300;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0px;
  transition: background-color 300ms linear, border 300ms linear;
}

.breakfest-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 1%;
  margin-right: 1%;
}

.breakfest__time {
  display: inline-block;
  font-size: 0.9em;
  font-weight: 200;
  color: #000000;
}

.search-rest {
  font-size: 1em;
  font-weight: 300;
  color: #525252;
}
.search-rest:hover {
  opacity: 70%;
}
.search-rest:focus {
  opacity: 70%;
}

.topgap {
  margin: 0;
  padding-top: 0;
}

.kierownicy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 99vw;
  height: auto;
  padding: 0;
  margin: 1em 0em 1em 0em;
}

.lider {
  padding: 0;
  margin: auto;
  flex-basis: 100%;
}
@media screen and (min-width: 767px) {
  .lider {
    flex-basis: 30%;
  }
}

.lider__main {
  position: relative;
  background-color: rgba(255, 255, 255, 0);
  background-image: linear-gradient(55deg, rgba(255, 255, 255, 0) 17%, rgb(255, 210, 0) 51%);
  border-radius: 57% 43% 100% 0%/100% 57% 43% 0%;
  width: 100%;
  height: 18em;
  max-width: 90vw;
}
.lider__main img {
  position: absolute;
  left: 30%;
  transition: all 300ms linear;
  z-index: 1;
  transform: scale(100%);
}
.lider__main p {
  margin: 0;
  width: 55%;
  position: absolute;
  right: 3.8em;
  top: 1em;
  visibility: inherit;
  background-color: #fff;
  opacity: 0%;
  padding: 5px 5px 5px 10px;
  font-size: 1.1em;
  color: #000000;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 24px -3px #000000;
  transition: all 300ms linear;
}

.lider:hover .lider__img {
  left: -6%;
  transform: scale(110%);
}
.lider:hover .lider__name {
  width: 100%;
}

.lider:hover .kierownik__info {
  margin: 0;
  width: 55%;
  position: absolute;
  right: 3.8em;
  top: 1em;
  visibility: inherit;
  background-color: #fff;
  opacity: 100%;
  padding: 5px 5px 5px 10px;
  font-size: 1.1em;
  color: #000000;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 24px -3px #000000;
}

.lider__name {
  position: relative;
  background-color: #004410;
  font-size: 2em;
  color: #fff;
  font-weight: 300;
  text-align: center;
  padding: 0.2em 0em 0.2em 0em;
  margin: 0px;
  z-index: 3;
  width: 70%;
  transition: all 300ms linear;
}

.lider__place {
  background-color: rgba(128, 128, 128, 0.858) 128, 128, 128, 0.605;
  font-size: 1.4em;
  color: #000000;
  font-weight: 300;
  padding: 0.1em 0em 0.1em 0em;
  margin: 0px;
  width: 100%;
  transition: all 300ms linear;
}

.other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
}

.geom {
  min-width: 100%;
  min-height: 50vh;
}
@media screen and (min-width: 767px) {
  .geom {
    min-width: 50%;
  }
}

.delivery {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery:hover .delivery__image {
  transform: scale(110%);
}

.delivery__image {
  width: 100%;
  height: 100%;
  background-image: url(../img/delivery.jpg);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(100%);
  transition: transform 3s linear;
  position: relative;
}

.delivery__item {
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.delivery__item h6 {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.delivery__item p {
  font-size: 22px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.button--delivery {
  margin-top: 15px;
  width: 19em;
  height: 2em;
  max-width: 99vw;
  background-color: #ffbb0d;
}
.button--delivery:hover p {
  left: 0.6em;
  color: #000000;
}
.button--delivery:focus p {
  left: 0.6em;
}
.button--delivery:hover svg {
  right: 0.1em;
}
.button--delivery:focus svg {
  right: 0.1em;
}
.button--delivery p {
  top: 0.4em;
  left: 1.2em;
  color: #000000;
  font-weight: 700;
  font-size: 0.98em;
}
.button--delivery svg {
  fill: black;
  width: 30px;
  height: 30px;
  top: 0.1em;
  right: 0.5em;
}

.info-app {
  background-color: #ffbc0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-app h6 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.info-app p {
  font-size: 22px;
  color: #000000;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 15px;
  padding: 0;
}

.app:hover {
  opacity: 80%;
}

.info-restaraunt {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-restaraunt h6 {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 3%;
}

.input__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
}
.input__wrap svg {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  bottom: 0.05em;
}

.job {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.job:hover .job__image {
  transform: scale(110%);
}

.job__image {
  width: 100%;
  height: 100%;
  background-image: url(../img/praca.jpg);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(100%);
  transition: transform 2s ease-in-out;
  position: relative;
}

.job__item {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
}
.job__item p {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 3%;
  text-shadow: -1px 1px 20px rgb(0, 0, 0);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/footerbackground.jpg);
  max-width: 100vw;
  margin: 0;
}

.footer__top {
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding: 0;
  margin: 3em;
}
@media screen and (max-width: 1024px) {
  .footer__top {
    flex-direction: column;
    align-items: center;
  }
}

.footer__nav {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  background-color: #ffbb0d;
  color: #000000;
}
.footer__nav:hover {
  color: rgba(0, 0, 0, 0.704);
}
.footer__nav:focus {
  color: rgba(0, 0, 0, 0.704);
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 85vw;
  margin: 0;
}

.info__item {
  background-color: #ffb300;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  background-color: #ffbb0d;
  color: #000000;
  width: 80vw;
}

.modal_vis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(114, 114, 114, 0.862745098);
  left: 0px;
  z-index: 5;
  transition: background-color 1s ease;
  top: 0px;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .modal_vis {
    max-width: 100vw;
    max-height: 100vh;
  }
}

.modal {
  position: fixed;
  bottom: -100;
}

.modal_txt {
  top: 1em;
  background-color: white;
  color: #000000;
  width: 30%;
  height: -moz-max-content;
  height: max-content;
  padding: 30px;
  position: relative;
  opacity: 1;
  transform: rotateX("0deg");
  transition: transform 10s ease;
}
@media screen and (max-width: 768px) {
  .modal_txt {
    max-width: 80vw;
    height: -moz-max-content;
    height: max-content;
  }
}

.contact-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}

.submit-form {
  margin-top: 4px;
}

.body_block {
  overflow: hidden;
  margin-right: 17px;
}

#close_modal {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: Times, sans-serif;
  border-radius: 50%;
  border: 1px solid #000000;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  right: 4px;
  top: 5px;
  transform: rotate(135deg);
  transition: all 0.6s;
  box-sizing: content-box;
}
#close_modal:hover {
  color: rgb(0, 0, 0);
  transform: rotate(45deg);
}

.submit--form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.linktel {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  font-size: 1em;
  color: #000000;
}
.linktel:hover {
  opacity: 80%;
}
.linktel:hover .phone-link-icon {
  left: 83%;
  opacity: 100%;
  transition: all 300ms linear;
}

.phone-link-icon {
  position: absolute;
  left: 80%;
  bottom: -0.2em;
  width: 1.4em;
  height: 1.4em;
  opacity: 0%;
}/*# sourceMappingURL=main.css.map */