/* main setting */
body {
    font-family: 'Jockey One', sans-serif;
    font-family: 'Kanit', sans-serif;

}


/* header main */
.header-main {
    z-index: 1;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: auto;
    box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
    -webkit-box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
    -moz-box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
}
.nav-main {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    list-style-type: none;
}
.nav-item {
    text-decoration: none;
    font-size: 24px;
}
.social-kontakt {
    display: flex;
    gap: 10px;
    align-items: center;
}
.linktel {
    display: flex;
    align-items: flex-start;
    text-decoration: none;
}
.phone-link-icon {
    width: 20px;
    height: 20px;
}
/* social link block */
.icon-block {
    display: flex;
    align-items: center;
    gap: 5px;
}
.facebook-link-header {
    display: block; 
    fill: black;
    width: 20px;
    height: 20px;
}
.facebook-link-header:hover {
    fill: rgb(5, 12, 213);
}
.instagram-link-header {
    display: block;
    fill: black;
    width: 20px;
    height: 20px;
}
.instagram-link-header:hover {
    fill: rgb(169, 51, 1);
}
.youtube-link-header {
    display: block;
    fill: black;
    width: 27px;
    height: 27px;
}
.youtube-link-header:hover {
    fill: red;
}

.button-mcdelivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
button {
    background: linear-gradient(-45deg, #ffffff, #fff200, #fbf700, #ffb300);
    background-size: 800% 400%;
    padding: 5px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
}
button:hover {
    animation: gradient 3s infinite;
}

button:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* First Top Section */

.first-section-main {
    background-image:
    linear-gradient(90deg, #0025098a 30%,
                #004410 55%),
    url(../img/051A2482.jpg);
    background-size: cover;
    width: fit-content;
    height:650px;
    margin: 0px;
    color: white;
    display: flex;
    font-size: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.kto-my-tekst {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: auto;
}
.kto-my-item {
    margin: auto;
    padding: auto;
    text-shadow: 4px 1px 6px rgba(0, 0, 0, 1);
}
.nasze-wartosci-main {
    max-width: 50%;
    height: fit-content;
    max-height: 100%;
    overflow: hidden;
}
.kim-jest {
    font-size: 24px;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.43);
    display: flex;
    align-items: baseline;
    gap: 10px;
}
.kim-jest::before {
    content: '';
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 1px;
    
}
.nasze-wart-text {
    font-size: 40px;
    margin: 20px;
    padding: 0px;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.43);
}
.co-oferujemy {
    font-size: 18px;
    margin-top: 0px;
    font-size: 18px;
    text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.43);
    }
.onas-posil {
        font-size: 19px;
        margin-bottom: 60px;
        text-shadow: 1px 5px 7px rgba(0, 0, 0, 0.43);
}
.historia-mcd-butt {
    display: block;
    font-size: 24px;
    margin: 20px auto;
}

/* Secons Section */


.nasze-menu-main {
    display: flex;
    position: sticky;
    z-index: 1;
    top: 0;
    background-image: url(../img/naszemenu.jpg);
    background-size: cover;
    height: 150px;
    font-size: 48px;
    color: #ffffff;
    margin-top: 5px;
    margin-bottom: -50px;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
        -webkit-box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
        -moz-box-shadow: -2px 8px 5px -5px rgba(0, 0, 0, 1);
}
.teraz-w-maku {
    display: flex;
    font-size: 24px;
    padding: 30px;
    align-items: center;

    
}
.teraz-w-maku::before {
    content: '';
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
    width: 50px;
    height: 3px;

}


.product-card-menu-first {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 3px;
    padding: 0px;
}

/* product card */
.product-card {
    display: block;
    width: max-content;
} 
.product-card:hover .product-card-price {
    transform: translateY(0%);
    background-color: #ffffff78;
}
.product-card:hover .product-card-name {
    background-color: #ffb300;
    border-top: 1px solid #ffb300;
}
.product-card-image {
    margin: 0px;
    transform: scale(100%);
    transition: transform 900ms linear;
}
.product-card:hover .product-card-image {
    transform: scale(110%);
}

.product-card-div {
    position: relative;
    width: 378px;
    height: 304px;
    overflow: hidden;
}
.product-card-name {
    background-color: #ffffff;
    border: 1px solid transparent;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
    transition: background-color 300ms linear,border 300ms linear;
}

.product-card-price {
    position: absolute;
    background-color: #ffffff;
    font-size: 40px;
    margin: 0px;
    bottom: 0;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    transition: transform 300ms linear;
}
/* second line second section */
.sniadanie-main {
    display: flex;
    font-size: 24px;
    align-items: center;
    margin: 40px 0px 0px 0px;

    gap: 10px;
}
.sniadanie-main::before {
    content: '';
    background-color: rgb(0, 0, 0);
    width: 50px;
    height: 3px;
    margin-left: 30px;

}
.breakfest-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.breakfest-nav {
    display: flex;
    gap: 5px;
}
.breakfest-search {
    padding-left: 30px;
    margin: 0;
    font-weight: lighter;
}
/* three section */
.other-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 100px 0px 0px 0px;
    padding: 0;
}
.other-info-delivery {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery-image:hover {
    transform: scale(110%);
}

.delivery-image {
    width: 100%;
    height: 100%;
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: transform 300ms linear;
    position: relative;
}

.delivery-item {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
}
.other-info-app {
    width: 50%;
    height: 50vh;
    background-color: #ffbc0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.other-info-restaraunt {
    width: 50%;
    height: 50vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.other-info-job {
    width: 50%;
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}
.other-info-job:hover .praca-image {
    transform: scale(110%);
}
.praca-image {
    width: 100%;
    height: 100%;
    background-image: url(../img/praca.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: transform 1s linear;
    position: relative;
}
.praca-item {
    position: absolute;
    width:auto;
    height: auto;
}

/* FOUR SECTION KIEROWNICY */
/* top */
.poznaj-nas-jeden {
    display: flex;
    font-size: 24px;
    margin: 0;
    padding-top: 40px;
    align-items: center;
}
.poznaj-nas-jeden::before {
    content: '';
    background-color: rgb(0, 0, 0);
    margin-right: 20px;
    width: 50px;
    height: 3px;
}
.nasi-kierownicy {
    font-size: 30px;
    margin: 0;
}
.kierownicy-main {
    display: flex;
    justify-content: space-between;
    max-width: 96vw;
    padding: 0;
    margin: 10px;   

}
.first-kierownik {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(55deg, rgba(255, 255, 255, 0) 17%, rgba(255, 210, 0, 1) 51%);
    border-radius: 57% 43% 100% 0% / 100% 57% 43% 0%;
}
.image-kierownik-emilia {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: scale(107%);
    transition: transform 600ms linear;
    position: relative;
}
.image-kierownik-emilia:hover {
    transform: scale(115%);
}
.kierownik-heading-emilia {
    background-color: #004410;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    z-index: 1;
}
.kierownik-text-emilia {
    background-color: white;
    padding: 10px;
    margin: 0;
}
.kierownik-info-emilia {
    width: 100%;
    height: 100%;
    position: absolute;
    color: transparent; 
    opacity: 0;
    right: 100%;
    z-index: -1;
    transition: opacity 600ms linear;  
}
.image-kierownik-emilia:hover .kierownik-info-emilia {
    background-color: white;
    opacity: 1;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: max-content;
    position: absolute;
    font-size: 20px;
    color: black;
    right: -69%;
    z-index: -1;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    -moz-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);       
}
.second-kierownik {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(55deg, rgba(255, 255, 255, 0) 17%, rgba(255, 210, 0, 1) 51%);
    border-radius: 57% 43% 100% 0% / 100% 57% 43% 0%;
}
.image-kierownik-igor {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: scale(107%);
    transition: transform 600ms linear;
    position: relative;
}
.image-kierownik-igor:hover {
    transform: scale(115%);
}
.kierownik-heading-igor {
    background-color: #004410;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    z-index: 1; 
}
.kierownik-text-igor {
    background-color: white;
    padding: 10px;
    margin: 0;
}
.kierownik-info-igor {
    width: 100%;
    height: max-content;
    position: absolute;
    color: transparent;
    font-size: 19px;
    padding: 4px 4px 4px 9px;
    opacity: 0;
    z-index: -1;
    transition: opacity 600ms linear;
    right: -69%;
}
.image-kierownik-igor:hover .kierownik-info-igor {
    background-color: white;
    opacity: 1;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: max-content;
    position: absolute;
    font-size: 20px;
    color: black;
    right: -66%;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    -moz-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
}

.third-kierownik {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(55deg, rgba(255, 255, 255, 0) 17%, rgba(255, 210, 0, 1) 51%);
    border-radius: 57% 43% 100% 0% / 100% 57% 43% 0%;

}

.image-kierownik-third {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: scale(107%);
    transition: transform 600ms linear;
    position: relative;
}

.image-kierownik-third:hover {
    transform: scale(115%);
}

.kierownik-heading-third {
    background-color: #004410;
    color: white;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    z-index: 1;
}

.kierownik-text-third {
    background-color: white;
    padding: 10px;
    margin: 0;
}

.kierownik-info-third {
    width: 100%;
    height: max-content;
    position: absolute;
    color: transparent;
    font-size: 19px;
    padding: 4px 4px 4px 9px;
    opacity: 0;
    z-index: -1;
    transition: opacity 600ms linear;
    left: -64%;
}

.image-kierownik-third:hover .kierownik-info-third {
    background-color: white;
    opacity: 1;
    width: 100%;
    padding: 5px 5px 5px 10px;
    height: max-content;
    position: absolute;
    font-size: 20px;
    color: black;
    left: -64%;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    -moz-box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
    box-shadow: 8px 8px 24px -3px rgb(0, 0, 0);
}
.szymon-talk {
    font-style: italic;
}


/* AD CONTAINER */

.slideshow-container {
    max-width: 100%;
    height: 81vh;
    position: relative;
    margin: auto;
    z-index: -1;
    
}

.first-slide {
    width: auto;
    height: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #000000;
    font-size: 40px;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    text-align: center;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}
/* FOOTER */

footer {
    display: flex ;
    flex-direction: column;
    width: auto;
    height: max-content;
}
.footer-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(../img/footerbackground.jpg);
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.kontakty-main {
    list-style-type: none;
    text-decoration: none;
    text-align: center;
}

.footer-bottom {
    background-color: #ffb300;
}


/* MODAL */
.contact-body {
    display: flex;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    position: relative;
}

.modal_txt {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: #000000;
    max-width: 80%;
    min-width: 50%;
    min-height: max-content;
    padding: 30px;
    position: relative;
    opacity: 1;
    transform: rotateX('0deg');
    transition: transform 10s ease;
}
.label-set {
    display: flex;
    flex-direction: column;
    
}
.input-set {
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
    margin: 3px;
}
.textarea-set {
    resize: none;
    scrollbar-color: rgb(178, 0, 0);
    scrollbar-width: 4px;
}
.contact-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 5px;
    width: 40%;
    position: relative;
}
.submit-form {
    margin-top: 4px;
}

.modal {
    opacity: 0;
    position: fixed;
    bottom: -100;
}

.modal_vis {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #727272dc;
    left: 0px;
    z-index: 5;
    transition: background-color 1s ease;
    top: 0px;
    opacity: 1;        
}

.body_block {
    overflow: hidden;
    margin-right: 17px;
}

#close_modal {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: Times, sans-serif;
    border-radius: 50%;
    border: 1px solid #000000;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 5px;
    transform: rotate(135deg);
    transition: all 0.6s;
    box-sizing: content-box;
}
#close_modal:hover {
    color: rgb(0, 0, 0);
    transform: rotate(45deg);
}