footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/footerbackground.jpg);
    width: 90vw;
    margin: 0;

}

.footer__top {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    padding: 0;
    margin: 3em;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;

    }
}

.footer__nav {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    background-color: $akcentColor;
    color: $primaryColor;

    &:hover {
        color: rgba(0, 0, 0, 0.704);
    }

    &:focus {
        color: rgba(0, 0, 0, 0.704);
    }
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 85vw;
    margin: 0;
}

.info__item {
    background-color: #ffb300;
    font-size: 10px;
    font-weight: 300;
    font-style: normal;
    padding: 0;
    background-color: $akcentColor;
    color: $primaryColor;
    width: 80vw;
}