// GENERAL---------------------------------------------------
.kierownicy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 99vw;
    height: auto;
    padding: 0;
    margin: 1em 0em 1em 0em;
}

.lider {
    padding: 0;
    margin: auto;
    flex-basis: 100%;

    @media screen and (min-width: 767px) {
        flex-basis: 30%;
    }
}

.lider__main {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    background-image: linear-gradient(55deg, rgba(255, 255, 255, 0) 17%, rgba(255, 210, 0, 1) 51%);
    border-radius: 57% 43% 100% 0% / 100% 57% 43% 0%;
    width: 100%;
    height: 18em;
    max-width: 90vw;



    img {
        position: absolute;
        left: 30%;
        transition: all 300ms linear;
        z-index: 1;
        transform: scale(100%);
    }


    p {
        margin: 0;
        width: 55%;
        position: absolute;
        right: 3.8em;
        top: 1em;
        visibility: inherit;
        background-color: $secondColor;
        opacity: 0%;
        padding: 5px 5px 5px 10px;
        font-size: 1.1em;
        color: $primaryColor;
        border-radius: 20px 20px 20px 20px;
        box-shadow: 8px 8px 24px -3px $primaryColor;
        transition: all 300ms linear;
    }
}

.lider:hover {
    .lider__img {
        left: -6%;
        transform: scale(110%);
    }

    .lider__name {
        width: 100%;
    }
}

.lider:hover .kierownik__info {
    margin: 0;
    width: 55%;
    position: absolute;
    right: 3.8em;
    top: 1em;
    visibility: inherit;
    background-color: $secondColor;
    opacity: 100%;
    padding: 5px 5px 5px 10px;
    font-size: 1.1em;
    color: $primaryColor;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 8px 8px 24px -3px $primaryColor;
}

.lider__name {
    position: relative;
    background-color: $greenColor;
    font-size: 2em;
    color: $secondColor;
    font-weight: 300;
    text-align: center;
    padding: 0.2em 0em 0.2em 0em;
    margin: 0px;
    z-index: 3;
    width: 70%;
    transition: all 300ms linear;
}

.lider__place {
    background-color: rgba(128, 128, 128, 0.858)(128, 128, 128, 0.605);
    font-size: 1.4em;
    color: $primaryColor;
    font-weight: 300;
    padding: 0.1em 0em 0.1em 0em;
    margin: 0px;
    width: 100%;
    transition: all 300ms linear;
}