.other {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.geom {
    min-width: 100%;
    min-height: 50vh;

    @media screen and (min-width: 767px) {
        min-width: 50%;
    }
}

.delivery {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover .delivery__image {
        transform: scale(110%);
    }
}

.delivery__image {
    width: 100%;
    height: 100%;
    background-image: url(../img/delivery.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: transform 3s linear;
    position: relative;
}

.delivery__item {
    position: absolute;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h6 {
        font-size: 30px;
        color: $secondColor;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 22px;
        color: $secondColor;
        font-weight: 300;
        margin: 0;
        padding: 0;
    }

}

.button--delivery {
    margin-top: 15px;
    width: 19em;
    height: 2em;
    max-width: 99vw;
    background-color: $akcentColor;

    &:hover p {
        left: 0.6em;
        color: $primaryColor;
    }

    &:focus p {
        left: 0.6em;
    }

    &:hover svg {
        right: 0.1em;
    }

    &:focus svg {
        right: 0.1em;
    }

    & p {
        top: 0.4em;
        left: 1.2em;
        color: $primaryColor;
        font-weight: 700;
        font-size: 0.98em;
    }

    & svg {
        fill: black;
        width: 30px;
        height: 30px;
        top: 0.1em;
        right: 0.5em;
    }
}

.info-app {
    background-color: #ffbc0d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h6 {
        font-size: 30px;
        color: $primaryColor;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    p {
        font-size: 22px;
        color: $primaryColor;
        font-weight: 300;
        margin-top: 0px;
        margin-bottom: 15px;
        padding: 0;
    }
}

.app:hover {
    opacity: 80%;
}


.info-restaraunt {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h6 {
        font-size: 30px;
        color: $primaryColor;
        font-weight: 700;
        margin-bottom: 3%;
    }
}

.input__wrap {
    position: relative;
    display: flex;
    flex-direction: column;

    & svg {
        position: absolute;
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        bottom: 0.05em;
    }
}

.job {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover .job__image {
        transform: scale(110%);
    }
}

.job__image {
    width: 100%;
    height: 100%;
    background-image: url(../img/praca.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(100%);
    transition: transform 2s ease-in-out;
    position: relative;
}

.job__item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;

    & p {
        font-size: 30px;
        color: $secondColor;
        font-weight: 700;
        margin-bottom: 3%;
        text-shadow: -1px 1px 20px rgba(0, 0, 0, 1);
    }
}