label {
    margin-top: 1em;
    position: relative;
    display: flex;
    flex-direction: column;
    color: $primaryColor;
    font-weight: 300;
    font-size: 1.2em;

    & svg {
        position: absolute;
        width: 1em;
        height: 20px;
        margin: 0;
        padding: 0;
        bottom: 0.1em;
        opacity: 70%;
    }
}

input {
    outline: none;
    border: none;
    border-bottom: 2px solid $akcentColor;
    font-size: 20px;
    font-weight: 300;
    width: 10em;
    padding-left: 25px;
    margin: 0;


    &::-ms-clear {
        opacity: 0;
    }




    &::placeholder {
        color: rgba(0, 0, 0, 0.542);
    }

}

textarea {
    outline: none;
    border: none;
    background-color: rgba(62, 62, 62, 0.01);
    border-bottom: 2px solid $akcentColor;
    font-size: 20px;
    font-weight: 200;
    font-style: italic;
    width: 10em;
    margin: 0;
    resize: none;

    &::placeholder {
        color: rgba(0, 0, 0, 0.542);
        font-weight: 300;
    }

    &::-webkit-scrollbar {
        width: 8px;
        background-color: rgba(255, 225, 0, 0.403);
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(255, 208, 0);
        border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(255, 208, 0, 0.582);
        opacity: 60%;

    }

    &::-webkit-scrollbar-thumb:active {
        background-color: rgba(255, 208, 0, 0.582);
        opacity: 60%;
    }
}

form {
    display: flex;
    flex-direction: column;
}